# PART 1: THE SETUP

Installing the necessary packages

In [1]:
!pip install --upgrade pip seaborn
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

You are using pip version 7.0.3, however version 7.1.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Collecting pip
  Downloading pip-7.1.0-py2.py3-none-any.whl (1.1MB)
    100% |████████████████████████████████| 1.1MB 171kB/s
Collecting seaborn
  Downloading seaborn-0.6.0.tar.gz (145kB)
    100% |████████████████████████████████| 147kB 1.1MB/s
Installing collected packages: pip, seaborn
  Found existing installation: pip 7.0.3
    Uninstalling pip-7.0.3:
      Successfully uninstalled pip-7.0.3
  Found existing installation: seaborn 0.5.1
    Uninstalling seaborn-0.5.1:
      Successfully uninstalled seaborn-0.5.1
  Running setup.py install for seaborn
Successfully installed pip-7.1.0 seaborn-0.6.0

Importing my clean data as a CSV file.

In [4]:
data = pd.read_csv("/Users/owner/desktop/ecb_data.csv")

Getting a quick glance at the cleaned data

In [5]:
data.head()

,apn,buillding_address,building_zip,neighborhood,floor_area,sqft_group,floor_area_group,year_built,year_built_group,benchmark_2010_status,...,land_use,total_uses,cie,med,mips,retail,pdr,visitor,construction_type,construction_description
0,0326/003,135 POWELL ST,94102,Downtown/Civic Center,"18,990",10-25K,10-20K,1909,1900-1909,NaN,...,RETAIL/ENT,24671,0,0,0,24671,0,0,Masonry or concrete,Commercial Stores
1,1401/002,3132 CLEMENT ST,94121,Seacliff,"16,669",10-25K,10-20K,2002,2000-2009,NaN,...,RETAIL/ENT,39708,0,0,0,39708,0,0,Masonry or concrete,Commercial Stores
2,4347A/003,2090 Evan St.,94124,Bayview,"119,900",50K+,100-200K,1956,1950-1959,Complied,...,PDR,4671,0,0,0,0,4671,0,Masonry or concrete,Industrial
3,3780/078,836 BRANNAN ST,94103,South of Market,"33,549",25-50K,30-40K,2001,2000-2009,NaN,...,MIXED,25396,0,0,0,8316,17080,0,0,Commercial Stores
4,3511/093,40 LAFAYETTE ST,94103,South of Market,"127,900",50K+,100-200K,1934,1930-1939,Complied,...,PDR,0,0,0,0,0,0,0,0,Industrial

In [19]:
from sklearn import preprocessing
import numpy as np
import scipy
import csv
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import StratifiedKFold

I need to change my qualitative data into quantitative data. To do this, I used label encoding.

In [20]:
#creating a variable for labeling
label = preprocessing.LabelEncoder()

In [23]:
#transforming the data from categorical to numerical
data.building_zip = label.fit_transform(data.building_zip)
data.neighborhood = label.fit_transform(data.neighborhood)
data.sqft_group = label.fit_transform(data.sqft_group)
data.floor_area_group = label.fit_transform(data.floor_area_group)
data.yearbuiltgroup = label.fit_transform(data.year_built_group)
data.benchmark_2010_status = label.fit_transform(data.benchmark_2010_status)
data.benchmark_2011_status = label.fit_transform(data.benchmark_2011_status)
data.benchmark_2012_status = label.fit_transform(data.benchmark_2012_status)
data.benchmark_2013_status = label.fit_transform(data.benchmark_2013_status)
data.benchmark_2014_status = label.fit_transform(data.benchmark_2014_status)
data.land_use = label.fit_transform(data.land_use)
data.construction_description = label.fit_transform(data.construction_description)
data.d = label.fit_transform(data.description)

In [24]:
#Viewing the trnsformed data
data.head()

,apn,buillding_address,building_zip,neighborhood,floor_area,sqft_group,floor_area_group,year_built,year_built_group,benchmark_2010_status,...,land_use,total_uses,cie,med,mips,retail,pdr,visitor,construction_type,construction_description
0,0326/003,135 POWELL ST,0,6,"18,990",0,0,1909,1900-1909,0,...,10,24671,0,0,0,24671,0,0,3,9
1,1401/002,3132 CLEMENT ST,15,29,"16,669",0,0,2002,2000-2009,0,...,10,39708,0,0,0,39708,0,0,3,9
2,4347A/003,2090 Evan St.,18,0,"119,900",2,1,1956,1950-1959,1,...,8,4671,0,0,0,0,4671,0,3,24
3,3780/078,836 BRANNAN ST,1,30,"33,549",1,5,2001,2000-2009,0,...,5,25396,0,0,0,8316,17080,0,1,9
4,3511/093,40 LAFAYETTE ST,1,30,"127,900",2,1,1934,1930-1939,1,...,8,0,0,0,0,0,0,0,1,24

In [27]:
# Splitting data into features and outcomes
X = data[cols]
y = data[outcome]

NameError: name 'cols' is not defined

In [29]:
# Import train_test_split and pass split data into a new instance
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [30]:
#viewing the splits
print X_train
print y_train
print X_test
print y_test

[['0260/010' '300 MONTGOMERY ST' 2 ..., 'A' 7 'O']
 ['0929/012' '2324 CHESTNUT ST' 17 ..., 'F' 8 'C']
 ['3575/091' '2101 MISSION ST' 7 ..., 'C' 3 'O']
 ...,
 ['0227/011' '640 SACRAMENTO ST' 8 ..., 'B' 4 'O']
 ['3510/057' '1453 MISSION ST' 1 ..., 'B' 4 'O']
 ['0173/005' '607 FRONT ST' 8 ..., 'C' 3 'O']]
[[33]
 [ 9]
 [33]
 ...,
 [33]
 [33]
 [33]]
[['3952/001' '2 CONNECTICUT ST' 4 ..., 'F' 8 'O']
 ['4356/001' '3101 3RD ST' 18 ..., 'C' 3 'I']
 ['0289/009' '180 MONTGOMERY ST' 2 ..., 'F' 8 'O']
 ...,
 ['3754/017' '385 7TH ST' 1 ..., '0' 1 'O']
 ['1064/032' '3360 GEARY BLVD' 14 ..., 'F' 8 'O']
 ['3733/091' '363 CLEMENTINA ST' 1 ..., 'C' 3 'I']]
[[33]
 [24]
 [33]
 [22]
 [33]
 [34]
 [24]
 [20]
 [24]
 [ 9]
 [33]
 [ 6]
 [22]
 [33]
 [ 9]
 [ 9]
 [33]
 [33]
 [ 9]
 [24]
 [24]
 [33]
 [24]
 [24]
 [47]
 [33]
 [16]
 [ 4]
 [ 0]
 [ 0]
 [ 6]
 [22]
 [ 0]
 [ 0]
 [ 9]
 [ 9]
 [33]
 [33]
 [22]
 [ 9]
 [33]
 [33]
 [33]
 [33]
 [22]
 [22]
 [33]
 [33]
 [ 4]
 [ 9]
 [33]
 [33]
 [32]
 [33]
 [33]
 [33]
 [16]
 [33]
 [22]
 [41]
 [24]
 [23]
 [ 6]
 [12]
 [ 9]
 [ 9]
 [ 0]
 [33]
 [ 9]
 [ 5]
 [ 0]
 [33]
 [24]
 [23]
 [24]
 [33]
 [ 6]
 [38]
 [ 9]
 [35]
 [24]
 [33]
 [33]
 [33]
 [20]
 [24]
 [24]
 [ 5]
 [ 0]
 [33]
 [11]
 [ 0]
 [23]
 [24]
 [ 9]
 [33]
 [20]
 [28]
 [31]
 [33]
 [49]
 [24]
 [33]
 [32]
 [ 0]
 [24]
 [32]
 [ 9]
 [ 9]
 [33]
 [24]
 [33]
 [ 9]
 [33]
 [24]
 [33]
 [24]
 [33]
 [ 9]
 [ 9]
 [24]
 [33]
 [33]
 [42]
 [ 9]
 [ 9]
 [ 9]
 [28]
 [ 9]
 [24]
 [24]
 [29]
 [51]
 [32]
 [ 9]
 [24]
 [24]
 [36]
 [24]
 [ 9]
 [20]
 [33]
 [20]
 [ 9]
 [ 9]
 [24]
 [33]
 [33]
 [ 9]
 [ 9]
 [22]
 [ 9]
 [24]
 [24]
 [ 5]
 [33]
 [23]
 [33]
 [33]
 [ 0]
 [24]
 [33]
 [24]
 [ 9]
 [33]
 [ 9]
 [33]
 [33]
 [24]
 [33]
 [33]
 [24]
 [33]
 [ 5]
 [33]
 [22]
 [33]
 [29]
 [ 5]
 [ 0]
 [24]
 [33]
 [24]
 [33]
 [24]
 [ 9]
 [24]
 [33]
 [52]
 [53]
 [33]
 [ 9]
 [ 1]
 [33]
 [ 9]
 [22]
 [33]
 [24]
 [24]
 [33]
 [ 9]
 [33]
 [20]
 [24]
 [33]
 [16]
 [33]
 [33]
 [ 9]
 [ 9]
 [ 9]
 [ 4]
 [22]
 [22]
 [24]
 [16]
 [ 0]
 [48]
 [24]
 [ 9]
 [24]
 [24]
 [ 9]
 [33]
 [33]
 [ 6]
 [16]
 [33]
 [33]
 [23]
 [16]
 [28]
 [32]
 [33]
 [33]
 [ 9]
 [ 9]
 [36]
 [33]
 [20]
 [24]
 [24]
 [52]
 [ 9]
 [24]
 [ 9]
 [33]
 [24]
 [16]
 [32]
 [24]
 [24]
 [43]
 [ 9]
 [16]
 [33]
 [24]
 [33]
 [33]
 [ 9]
 [33]
 [22]
 [33]
 [33]
 [32]
 [ 9]
 [24]
 [33]
 [24]
 [33]
 [24]
 [33]
 [ 9]
 [24]
 [33]
 [ 5]
 [33]
 [33]
 [ 5]
 [20]
 [33]
 [ 0]
 [33]
 [24]
 [ 9]
 [33]
 [24]
 [ 0]
 [16]
 [24]
 [24]
 [ 9]
 [ 0]
 [33]
 [33]
 [33]
 [ 9]
 [15]
 [33]
 [52]
 [24]
 [ 0]
 [ 6]
 [24]
 [22]
 [ 9]
 [33]
 [ 9]
 [33]
 [33]
 [33]
 [24]
 [33]
 [33]
 [24]
 [49]
 [ 9]
 [21]
 [ 0]
 [ 9]
 [24]
 [33]
 [33]
 [33]
 [24]
 [23]
 [ 9]
 [ 9]
 [33]
 [32]
 [33]
 [24]
 [19]
 [24]
 [ 9]
 [24]
 [ 9]
 [ 9]
 [24]
 [ 9]
 [ 9]
 [24]
 [33]
 [ 9]
 [24]
 [ 9]
 [16]
 [22]
 [ 9]
 [ 9]
 [24]
 [ 5]
 [33]
 [ 9]
 [33]
 [39]
 [24]
 [20]
 [24]
 [ 9]
 [20]
 [ 9]
 [ 0]
 [ 9]
 [13]
 [24]
 [33]
 [24]
 [33]
 [33]
 [16]
 [ 0]
 [24]
 [33]
 [ 0]
 [ 5]
 [24]
 [32]
 [24]
 [33]
 [ 9]
 [ 9]
 [16]
 [ 9]
 [16]
 [33]
 [29]
 [ 6]
 [33]
 [52]
 [33]
 [24]
 [33]
 [ 9]
 [33]
 [33]
 [29]
 [33]
 [33]
 [ 9]
 [ 9]
 [24]
 [33]
 [32]
 [24]
 [22]
 [23]
 [19]
 [33]
 [52]
 [ 9]
 [32]
 [33]
 [24]
 [24]
 [24]
 [24]
 [24]
 [33]
 [24]
 [22]
 [33]
 [24]
 [47]
 [ 1]
 [ 9]
 [ 9]
 [33]
 [33]
 [24]
 [22]
 [19]
 [33]
 [ 9]
 [ 6]
 [25]
 [24]
 [33]
 [ 4]
 [24]
 [ 5]
 [ 9]
 [ 9]
 [33]
 [26]
 [33]
 [33]
 [49]
 [24]
 [33]
 [33]
 [ 9]
 [16]
 [33]
 [20]
 [ 0]
 [33]
 [24]
 [24]
 [ 5]
 [24]
 [33]
 [24]
 [33]
 [33]
 [24]]